.container {
  max-width: 680px;
  margin: 50px auto;
}

.quote-box {
  width: 100%;
  max-width: 600px;
  box-shadow: 3px 3px 10px rgba(55, 115, 184, 0.5);
  padding: 1.5rem;
  color: #3773b8;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  min-height: 400px;
}

.button {
  justify-self: flex-start;
  padding: 1rem 1.5rem;
  color: #ffffff;
  background-color: #3773b8;
  border: 3px solid #ffffff;
  border-radius: 0.7rem;
  display: inline-block;
  cursor: pointer;
  font-weight: 700;
  transition: all 0.3s;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  font-size: 100%;
}

.button:hover,
.button:active {
  color: #3773b8;
  background-color: #ffffff;
}

a.button {
  text-decoration: none;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.quote-author {
  text-align: right;
  font-weight: 700;
}
